#board{
    border: solid 1px black;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.5);
    width: 420px;
}
.lightsquare {
    background: #FFFFFF;
}
.darksquare {
    background: #D0D0D0;
}
.block{
    width: 50px;
    height: 50px;
    float: left;
    padding:0px;
    margin: 0px;
    border: solid black 1px ;
    display: block;
    font-size: 40px;
    text-align: center;
    vertical-align: middle;
    line-height: 50px;
}
.selected{
    border: solid black 1px ;
    background: darkorange;
}
.allowedStep{
    background: greenyellow;
}
.attack{
    background: indianred;
}
